<div *ngIf="loading" class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
</div>
<a [routerLink]="['/student/create']"  class="btn btn-success">Create</a>
       
<div *ngIf="!loading" class="row">

    <div *ngFor="let item of Students" class="card col-4">
        <div class="card-body">
            <h5 class="card-title">{{item.Name}}</h5>
            <p class="card-text">{{item.Email}}</p>
            <a [routerLink]="['/student/details/',item.ID]"  class="btn btn-primary">Details</a>
            <a [routerLink]="['/student/edit/',item.ID]"  class="btn btn-primary">updata</a>
        </div>
    </div>
</div>